* {
    font-family: 'Roboto', sans-serif;
}
html,body, p{
    margin:0;
    padding:0;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
.bg-grey {
    background-color: #EEEFF1;
}
ul{
    margin:0; 
    padding: 80px 0 0
}
ul li{
    display: inline-flex;
    margin-right: 40px;
}
.menu{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #000000;
}
h1{
    font-size: 48px;
    margin-top: 151px;
    margin-bottom: 60px;
}
h2{
    font-size: 32px;
    text-align: center;
}
.max-wd{
    max-width: 540px;
    height: 67px;
}
.mb-65{
    margin-bottom: 65px;
}
.button{
    background-color:#34547A;
    padding: 20px 40px;
    color:white;
    border: none;
    margin-bottom: 141px;
}
.p-text{
    color:#727272;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
.bg-white{
background-color: white;
}
.about-me{
    text-align:center;
    margin-top: 112px;
    margin-bottom: 100px 
}
.bg-blue{
    background-color: #34547A;
}
.p-center{
    margin: auto;
    text-align: center;
}
.project-text{
    display: inline-block;
    color: white;
}
.project-box{
    display:flex;
    justify-content:space-between;
    width: 1110px;
}
.pad-100{
    padding:100px
}
.content{
    padding-bottom: 57px;
}
h3{
    font-size: 21px;
    font-weight: 500;
    color:white;
}
.footer{
    padding: 50px 0
}
.p-footer{
    color: white;
    font-size: 13px;
    font-weight: 400;
}

